# Import needed modules

In [1]:
import pandas as pd

# Import the needed files from e and f

In [2]:
name = 'yannis'

In [4]:
dataEdf = pd.read_csv(f'../data/{name}/output/update_e.csv')
dataEdf

  Component Name  thickness
0         panel1       2.90
1        panel10       2.90
2         panel2       3.38
3         panel3       3.39
4         panel4       3.37
5         panel5       3.36
6         panel6       3.36
7         panel7       3.37
8         panel8       3.39
9         panel9       3.38

# Extract the dimensions

In [6]:
panelThicknesses =[]
for i in range(1,6):
    panelThicknesses.append(dataEdf.thickness[i])
panelThicknesses

[np.float64(2.9),
 np.float64(3.38),
 np.float64(3.39),
 np.float64(3.37),
 np.float64(3.36)]

# Return the needed format

In [ ]:
 return panelThicknesses