# Import needed modules

In [1]:
import pandas as pd

# Import the needed files from e and f

In [2]:
name = 'yannis'

In [3]:
dataEdf = pd.read_csv(f'../data/{name}/output/update_e.csv')
dataEdf

  Component Name  thickness
0         panel1       3.83
1        panel10       3.83
2         panel2       4.15
3         panel3       4.16
4         panel4       4.14
5         panel5       4.70
6         panel6       4.70
7         panel7       4.14
8         panel8       4.16
9         panel9       4.15

# Extract the dimensions

In [4]:
panelThicknesses =[]
for i in range(1,6):
    panelThicknesses.append(dataEdf.thickness[i])
panelThicknesses

[np.float64(3.83),
 np.float64(4.15),
 np.float64(4.16),
 np.float64(4.14),
 np.float64(4.7)]

# Return the needed format

In [5]:
 #return panelThicknesses

# Testing of generation append

In [10]:
# Import already existing iterations

scoreDf = pd.read_csv(f'../data/{name}/output/generation.csv')
# Import files to compute new score 
panelScoreDf = pd.read_csv(f'../data/{name}/output/panelScore.csv')
stringerScoreDf = pd.read_csv(f'../data/{name}/output/stringerScore.csv')

# Concat to one new parameter score entry
newscoreDf = pd.DataFrame({
    'panel thickness':[panelScoreDf['panel thickness'][0]],
    'stringer Parameters':[stringerScoreDf['stringer Parameters'][0]],
    'score':[panelScoreDf.score[0] + stringerScoreDf.score[0]]
})

scoreDf=pd.concat([scoreDf, newscoreDf], axis=0)
"""scoreDf.to_csv(f'../data/{name}/output/generation.csv', index=False)"""

scoreDf

,panel thickness,stringer Parameters,score
0,"[np.float64(4.0), np.float64(4.0), np.float64(...","[[np.float64(25.0), np.float64(2.0), np.float6...",2814.330000
0,"[np.float64(4.0), np.float64(4.0), np.float64(...","[[np.float64(25.0), np.float64(2.0), np.float6...",5315.721969