# Task 1 d, Calculating strength reserve factor of all elements

## Please enter your name (daniel, fabian, felix, yannis)

In [19]:
name = "yannis"

## Imports

In [20]:
import pandas as pd
import sys 
import os

sys.path.insert(0, os.path.abspath('..'))
sys.path.insert(0, os.path.abspath('../formulas'))

from formulas.columnbuckling import *
from formulas.panels import *
from formulas.strength import *
from formulas.helpers import *

In [21]:
# config parser
import configparser

# get the rounding_digits from the ini file
config = configparser.ConfigParser()
config.read('../config.ini')
rounding_digits = int(config['DEFAULT']['rounding_digits'])

## File Selection

In [22]:
#Import the stress of the panels (OLD VERSION)
# paneldf = pd.read_excel(f'../data/{name}/panel.xlsx', index_col=0)

In [23]:
# This will become the new import for the panel stresses
paneldf = pd.read_csv(f'../data/{name}/panel.csv')
paneldf

    Element ID Component Name  sigmaXX  sigmaYY  sigmaXY        Load Case
0            1         panel1  -56.885   10.672   21.775  Subcase 1 (LC1)
1            2         panel1  -70.083   16.774   22.213  Subcase 1 (LC1)
2            3         panel1  -57.534   17.217   29.669  Subcase 1 (LC1)
3            4         panel2  -76.911    2.546   26.363  Subcase 1 (LC1)
4            5         panel2  -71.247   17.850   20.346  Subcase 1 (LC1)
..         ...            ...      ...      ...      ...              ...
85          26         panel9  -23.669    5.930   81.112  Subcase 3 (LC3)
86          27         panel9  -27.267  -32.614   94.580  Subcase 3 (LC3)
87          28        panel10  -20.300   17.679  103.854  Subcase 3 (LC3)
88          29        panel10  -23.283    5.573   88.552  Subcase 3 (LC3)
89          30        panel10  -17.711   -8.414  101.231  Subcase 3 (LC3)

[90 rows x 6 columns]

In [24]:
# Import the stress of the stringers 
#stringerdf = pd.read_excel(f'../data/{name}/stringer.xlsx', index_col=0)

stringerdf= pd.read_csv(f'../data/{name}/stringer.csv')
stringerdf

    Element ID Component Name  sigmaXX        Load Case
0           40      stringer1  -51.630  Subcase 1 (LC1)
1           41      stringer1  -46.623  Subcase 1 (LC1)
2           42      stringer1  -53.464  Subcase 1 (LC1)
3           43      stringer2  -47.730  Subcase 1 (LC1)
4           44      stringer2  -50.675  Subcase 1 (LC1)
..         ...            ...      ...              ...
76          62      stringer8  -16.835  Subcase 3 (LC3)
77          63      stringer8  -12.511  Subcase 3 (LC3)
78          64      stringer9  -21.111  Subcase 3 (LC3)
79          65      stringer9  -15.489  Subcase 3 (LC3)
80          66      stringer9  -13.803  Subcase 3 (LC3)

[81 rows x 4 columns]

## Constants

In [25]:
sigma_ult = 530

## Applying Functions

In [26]:
#Adding reserve Factor column to the panels 
paneldf['reserveFactor'] = paneldf.apply(panelStrength_calc, sigma_ult= sigma_ult, axis=1)
paneldf.head(10)

,Element ID,Component Name,sigmaXX,sigmaYY,sigmaXY,Load Case,reserveFactor
0,1,panel1,-56.885,10.672,21.775,Subcase 1 (LC1),4.817490
1,2,panel1,-70.083,16.774,22.213,Subcase 1 (LC1),3.988251
2,3,panel1,-57.534,17.217,29.669,Subcase 1 (LC1),4.153157
3,4,panel2,-76.911,2.546,26.363,Subcase 1 (LC1),3.901290
4,5,panel2,-71.247,17.850,20.346,Subcase 1 (LC1),3.973200
5,6,panel2,-75.971,20.858,20.607,Subcase 1 (LC1),3.711043
6,7,panel3,-72.939,-1.788,23.005,Subcase 1 (LC1),4.290931
7,8,panel3,-75.100,14.005,19.642,Subcase 1 (LC1),3.939237
8,9,panel3,-72.929,27.910,22.722,Subcase 1 (LC1),3.590904
9,10,panel4,-68.576,-8.701,27.326,Subcase 1 (LC1),4.409155

In [27]:
#Adding reserve Factor column to the stringers 
stringerdf['reserveFactor'] = stringerdf.apply(stringerStrength_calc, sigma_ult= sigma_ult, axis=1)
stringerdf.head(10)

   Element ID Component Name  sigmaXX        Load Case  reserveFactor
0          40      stringer1  -51.630  Subcase 1 (LC1)       6.843566
1          41      stringer1  -46.623  Subcase 1 (LC1)       7.578520
2          42      stringer1  -53.464  Subcase 1 (LC1)       6.608808
3          43      stringer2  -47.730  Subcase 1 (LC1)       7.402752
4          44      stringer2  -50.675  Subcase 1 (LC1)       6.972537
5          45      stringer2  -49.561  Subcase 1 (LC1)       7.129262
6          46      stringer3  -52.049  Subcase 1 (LC1)       6.788475
7          47      stringer3  -52.548  Subcase 1 (LC1)       6.724011
8          48      stringer3  -54.495  Subcase 1 (LC1)       6.483775
9          49      stringer4  -39.649  Subcase 1 (LC1)       8.911532

# Making things pretty

## Delete unnecessary columns

In [28]:
# First for the stringers 
stringerdf = stringerdf.drop(['Component Name','sigmaXX'], axis=1)
stringerdf

    Element ID        Load Case  reserveFactor
0           40  Subcase 1 (LC1)       6.843566
1           41  Subcase 1 (LC1)       7.578520
2           42  Subcase 1 (LC1)       6.608808
3           43  Subcase 1 (LC1)       7.402752
4           44  Subcase 1 (LC1)       6.972537
..         ...              ...            ...
76          62  Subcase 3 (LC3)      20.988021
77          63  Subcase 3 (LC3)      28.241814
78          64  Subcase 3 (LC3)      16.736930
79          65  Subcase 3 (LC3)      22.811888
80          66  Subcase 3 (LC3)      25.598300

[81 rows x 3 columns]

In [29]:
# Then also the panels 
paneldf=paneldf.drop(['Component Name', 'sigmaXX', 'sigmaYY', 'sigmaXY'], axis = 1)
paneldf.head(10)

   Element ID        Load Case  reserveFactor
0           1  Subcase 1 (LC1)       4.817490
1           2  Subcase 1 (LC1)       3.988251
2           3  Subcase 1 (LC1)       4.153157
3           4  Subcase 1 (LC1)       3.901290
4           5  Subcase 1 (LC1)       3.973200
5           6  Subcase 1 (LC1)       3.711043
6           7  Subcase 1 (LC1)       4.290931
7           8  Subcase 1 (LC1)       3.939237
8           9  Subcase 1 (LC1)       3.590904
9          10  Subcase 1 (LC1)       4.409155

## Concat data frames beneth each other

In [30]:
combined = pd.concat([paneldf,stringerdf],axis=0)
combined

    Element ID        Load Case  reserveFactor
0            1  Subcase 1 (LC1)       4.817490
1            2  Subcase 1 (LC1)       3.988251
2            3  Subcase 1 (LC1)       4.153157
3            4  Subcase 1 (LC1)       3.901290
4            5  Subcase 1 (LC1)       3.973200
..         ...              ...            ...
76          62  Subcase 3 (LC3)      20.988021
77          63  Subcase 3 (LC3)      28.241814
78          64  Subcase 3 (LC3)      16.736930
79          65  Subcase 3 (LC3)      22.811888
80          66  Subcase 3 (LC3)      25.598300

[171 rows x 3 columns]

## Split into three seperate loadcase data frames

In [31]:
loadCase1df = combined[combined['Load Case'] == 'Subcase 1 (LC1)']
loadCase2df = combined[combined['Load Case'] == 'Subcase 2 (LC2)']
loadCase3df = combined[combined['Load Case'] == 'Subcase 3 (LC3)']
loadCase1df.head(20)

    Element ID        Load Case  reserveFactor
0            1  Subcase 1 (LC1)       4.817490
1            2  Subcase 1 (LC1)       3.988251
2            3  Subcase 1 (LC1)       4.153157
3            4  Subcase 1 (LC1)       3.901290
4            5  Subcase 1 (LC1)       3.973200
5            6  Subcase 1 (LC1)       3.711043
6            7  Subcase 1 (LC1)       4.290931
7            8  Subcase 1 (LC1)       3.939237
8            9  Subcase 1 (LC1)       3.590904
9           10  Subcase 1 (LC1)       4.409155
10          11  Subcase 1 (LC1)       4.085419
11          12  Subcase 1 (LC1)       3.163781
12          13  Subcase 1 (LC1)       3.589369
13          14  Subcase 1 (LC1)       3.586017
14          15  Subcase 1 (LC1)       3.091578
15          16  Subcase 1 (LC1)       3.091578
16          17  Subcase 1 (LC1)       3.586017
17          18  Subcase 1 (LC1)       3.589369
18          19  Subcase 1 (LC1)       3.163781
19          20  Subcase 1 (LC1)       4.085419

In [32]:
# Drop the loadcase columns 
loadCase1df = loadCase1df.drop(['Load Case'], axis = 1)
loadCase2df = loadCase2df.drop(['Load Case'], axis = 1)
loadCase3df = loadCase3df.drop(['Load Case'], axis = 1)
#Rename the reserveFactor column 
loadCase1df = loadCase1df.rename(columns={"reserveFactor": "Load Case 1 RF"})
loadCase2df = loadCase2df.rename(columns={"reserveFactor": "Load Case 2 RF"})
loadCase3df = loadCase3df.rename(columns={"reserveFactor": "Load Case 3 RF"})
# Make element ID index column 
loadCase1df = loadCase1df.set_index('Element ID')
loadCase2df = loadCase2df.set_index('Element ID')
loadCase3df = loadCase3df.set_index('Element ID')
loadCase2df.tail(5)

            Load Case 2 RF
Element ID
62                7.198544
63                7.700914
64                5.931497
65                5.757146
66                6.119810

In [33]:
# Now we concat them back together 
outputdf = pd.concat([loadCase1df,loadCase2df, loadCase3df], axis=1)
outputdf

            Load Case 1 RF  Load Case 2 RF  Load Case 3 RF
Element ID
1                 4.817490        5.426526        2.007491
2                 3.988251        4.679739        2.270033
3                 4.153157        4.802338        1.932183
4                 3.901290        4.392710        2.120908
5                 3.973200        4.754329        2.469401
6                 3.711043        4.335313        2.078568
7                 4.290931        4.707075        2.141739
8                 3.939237        4.571448        2.553006
9                 3.590904        4.224747        2.004877
10                4.409155        4.603632        1.733098
11                4.085419        4.756804        2.888526
12                3.163781        3.705760        1.586866
13                3.589369        3.832432        1.252717
14                3.586017        3.979559        1.502187
15                3.091578        3.442571        1.218974
16                3.091578        3.442571        1.218974
17                3.586017        3.979559        1.502187
18                3.589369        3.832432        1.252717
19                3.163781        3.705760        1.586866
20                4.085419        4.756804        2.888526
21                4.409155        4.603632        1.733098
22                3.590904        4.224747        2.004877
23                3.939237        4.571448        2.553006
24                4.290931        4.707075        2.141739
25                3.711043        4.335313        2.078568
26                3.973200        4.754329        2.469401
27                3.901290        4.392710        2.120908
28                4.153157        4.802338        1.932183
29                3.988251        4.679739        2.270033
30                4.817490        5.426526        2.007491
40                6.843566        6.119810       25.598300
41                7.578520        5.757146       22.811888
42                6.608808        5.931497       16.736930
43                7.402752        7.700914       28.241814
44                6.972537        7.198544       20.988021
45                7.129262        7.405389       17.836110
46                6.788475        7.153945       27.554654
47                6.724011        7.126817       20.240209
48                6.483775        6.816501       15.653612
49                8.911532        9.518678       22.606099
50                7.398566        7.855518       22.269843
51                6.376477        6.681416        7.484290
52                7.696888        7.935438       23.167880
53                7.698733        7.832532       23.173958
54                7.696888        7.935438       23.167880
55                6.376477        6.681416        7.484290
56                7.398566        7.855518       22.269843
57                8.911532        9.518678       22.606099
58                6.483775        6.816501       15.653612
59                6.724011        7.126817       20.240209
60                6.788475        7.153945       27.554654
61                7.129262        7.405389       17.836110
62                6.972537        7.198544       20.988021
63                7.402752        7.700914       28.241814
64                6.608808        5.931497       16.736930
65                7.578520        5.757146       22.811888
66                6.843566        6.119810       25.598300

# ROUND & Export back to Excel

In [34]:
outputdf = outputdf.round(rounding_digits)
outputdf.to_excel(f'../data/{name}/output/processed_d.xlsx')
outputdf.head(10)

            Load Case 1 RF  Load Case 2 RF  Load Case 3 RF
Element ID
1                     4.82            5.43            2.01
2                     3.99            4.68            2.27
3                     4.15            4.80            1.93
4                     3.90            4.39            2.12
5                     3.97            4.75            2.47
6                     3.71            4.34            2.08
7                     4.29            4.71            2.14
8                     3.94            4.57            2.55
9                     3.59            4.22            2.00
10                    4.41            4.60            1.73