# Calculating the reserve Factors of the panels

# Please enter your name

In [49]:
name = "yannis"

# Imports

In [50]:
import pandas as pd
import sys 
import os
sys.path.insert(0, os.path.abspath('..'))
sys.path.insert(0, os.path.abspath('../formulas'))
sys.path.insert(0, os.path.abspath('../optimization'))

from formulas.panels import *
from formulas.helpers import *
from optimization.panelBuckReverse import *

In [51]:
# config parser
import configparser

# get the rounding_digits from the ini file
config = configparser.ConfigParser()
config.read('../config.ini')
rounding_digits = int(config['DEFAULT']['rounding_digits'])

# Constants (Changed based on your data)

In [52]:
personal_data = personal_data_provider(name)
sigma_yield = personal_data[0]
EModulus = personal_data[1]
nu = personal_data[2]
print(f"Your personal data is: sigma_yield = {sigma_yield}, EModulus = {EModulus}, nu = {nu}. Please verify.")

#Panel constants 
length = 750
width = 200

Your personal data is: sigma_yield = 490, EModulus = 65241.07, nu = 0.34. Please verify.

# Open stress values & properties of panels

In [53]:
# New version of importing panel stress file
paneldf = pd.read_csv(f'../data/{name}/panel.csv')


#Import panel properties and reformat
panelPropertiesdf = pd.read_csv(f'../data/{name}/panel_properties.csv', index_col=0)
panelPropertiesdf = panelPropertiesdf.reset_index()
panelPropertiesdf = panelPropertiesdf.drop(columns=['Component Name', 'mass'])


paneldf.head(5)

   Element ID Component Name  sigmaXX  sigmaYY  sigmaXY        Load Case
0           1         panel1  -65.783   12.580   25.898  Subcase 1 (LC1)
1           2         panel1  -81.868   20.594   26.738  Subcase 1 (LC1)
2           3         panel1  -66.730   20.466   36.481  Subcase 1 (LC1)
3           4         panel2  -96.378    2.383   34.062  Subcase 1 (LC1)
4           5         panel2  -88.315   25.010   26.685  Subcase 1 (LC1)

# Split up the loadcases

In [54]:
loadCase1df = paneldf[paneldf['Load Case'] == 'Subcase 1 (LC1)']
loadCase2df = paneldf[paneldf['Load Case'] == 'Subcase 2 (LC2)']
loadCase3df = paneldf[paneldf['Load Case'] == 'Subcase 3 (LC3)']
# Add the data to load case 
loadCase1df = pd.merge(loadCase1df, panelPropertiesdf, on='Element ID')
loadCase2df = pd.merge(loadCase2df, panelPropertiesdf, on='Element ID')
loadCase3df = pd.merge(loadCase3df, panelPropertiesdf, on='Element ID')

#Set index back to Element ID 
loadCase1df = loadCase1df.set_index('Element ID')
loadCase2df = loadCase2df.set_index('Element ID')
loadCase3df = loadCase3df.set_index('Element ID')

#Give some overview 
loadCase1df.head(5)

,Component Name,sigmaXX,sigmaYY,sigmaXY,Load Case,thickness
Element ID,,,,,,
1,panel1,-65.783,12.580,25.898,Subcase 1 (LC1),4.0
2,panel1,-81.868,20.594,26.738,Subcase 1 (LC1),4.0
3,panel1,-66.730,20.466,36.481,Subcase 1 (LC1),4.0
4,panel2,-96.378,2.383,34.062,Subcase 1 (LC1),4.0
5,panel2,-88.315,25.010,26.685,Subcase 1 (LC1),4.0

# Now we need to combine into panels:
-Panel ID (as our ID)
-sigmaXXavg
-sigmaYYavg
-sigmaXYavg
-length
-width
-thickness

In [55]:
# We can just average the stresses @fabianober Tackle rounding!!!! 
#For load case 1 
panelLC1 = loadCase1df.groupby('Component Name').agg({
    'sigmaXX': 'mean',
    'sigmaYY':'mean',
    'sigmaXY':'mean',
    'thickness':'max'
})
dataframeLength = len(panelLC1)
panelLC1['length'] = [length]*dataframeLength
panelLC1['width'] = [width]*dataframeLength
panelLC1['Load Case'] = ['LC1'] * dataframeLength


#For load case 2 
panelLC2 = loadCase2df.groupby('Component Name').agg({
    'sigmaXX': 'mean',
    'sigmaYY':'mean',
    'sigmaXY':'mean',
    'thickness':'max'
})
dataframeLength = len(panelLC2)
panelLC2['length'] = [length]*dataframeLength
panelLC2['width'] = [width]*dataframeLength
panelLC2['Load Case'] = ['LC2'] * dataframeLength


#For load case 3
panelLC3 = loadCase3df.groupby('Component Name').agg({
    'sigmaXX': 'mean',
    'sigmaYY':'mean',
    'sigmaXY':'mean',
    'thickness':'max'
})
dataframeLength = len(panelLC3)
panelLC3['length'] = [length]*dataframeLength
panelLC3['width'] = [width]*dataframeLength
panelLC3['Load Case'] = ['LC3'] * dataframeLength


panelLC1

,sigmaXX,sigmaYY,sigmaXY,thickness,length,width,Load Case
Component Name,,,,,,,
panel1,-71.460333,17.88,29.705667,4.0,750,200,LC1
panel10,-71.460333,17.88,29.705667,4.0,750,200,LC1
panel2,-93.234667,17.88,29.610333,4.0,750,200,LC1
panel3,-93.370667,17.88,29.611667,4.0,750,200,LC1
panel4,-92.718000,17.88,30.064333,4.0,750,200,LC1
panel5,-92.224333,17.88,52.546333,4.0,750,200,LC1
panel6,-92.224333,17.88,52.546333,4.0,750,200,LC1
panel7,-92.718000,17.88,30.064333,4.0,750,200,LC1
panel8,-93.370667,17.88,29.611667,4.0,750,200,LC1
panel9,-93.234667,17.88,29.610333,4.0,750,200,LC1

# Now we can apply the functions to the load cases

In [56]:
panelLC1[['k_shear', 'k_biaxial', 'Reserve Factor']] = panelLC1.apply(panelBuckApply, EModulus=EModulus, nu=nu, axis=1, result_type='expand')
panelLC2[['k_shear', 'k_biaxial', 'Reserve Factor']] = panelLC2.apply(panelBuckApply, EModulus=EModulus, nu=nu, axis=1, result_type='expand')
panelLC3[['k_shear', 'k_biaxial', 'Reserve Factor']] = panelLC3.apply(panelBuckApply, EModulus=EModulus, nu=nu, axis=1, result_type='expand')
panelLC1

,sigmaXX,sigmaYY,sigmaXY,thickness,length,width,Load Case,k_shear,k_biaxial,Reserve Factor
Component Name,,,,,,,,,,
panel1,-71.460333,17.88,29.705667,4.0,750,200,LC1,5.624444,5.051195,1.019406
panel10,-71.460333,17.88,29.705667,4.0,750,200,LC1,5.624444,5.051195,1.019406
panel2,-93.234667,17.88,29.610333,4.0,750,200,LC1,5.624444,4.830948,0.769984
panel3,-93.370667,17.88,29.611667,4.0,750,200,LC1,5.624444,4.829521,0.768740
panel4,-92.718000,17.88,30.064333,4.0,750,200,LC1,5.624444,4.836411,0.772768
panel5,-92.224333,17.88,52.546333,4.0,750,200,LC1,5.624444,4.841700,0.661930
panel6,-92.224333,17.88,52.546333,4.0,750,200,LC1,5.624444,4.841700,0.661930
panel7,-92.718000,17.88,30.064333,4.0,750,200,LC1,5.624444,4.836411,0.772768
panel8,-93.370667,17.88,29.611667,4.0,750,200,LC1,5.624444,4.829521,0.768740
panel9,-93.234667,17.88,29.610333,4.0,750,200,LC1,5.624444,4.830948,0.769984

# Combining back into 1 Data Frame for updating thickness

In [57]:
updateParametersDf = pd.concat([panelLC1, panelLC2, panelLC3], axis=0)
updateParametersDf = updateParametersDf.reset_index()
updateParametersDf

,Component Name,sigmaXX,sigmaYY,sigmaXY,thickness,length,width,Load Case,k_shear,k_biaxial,Reserve Factor
0,panel1,-71.460333,17.880000,29.705667,4.0,750,200,LC1,5.624444,5.051195,1.019406
1,panel10,-71.460333,17.880000,29.705667,4.0,750,200,LC1,5.624444,5.051195,1.019406
2,panel2,-93.234667,17.880000,29.610333,4.0,750,200,LC1,5.624444,4.830948,0.769984
3,panel3,-93.370667,17.880000,29.611667,4.0,750,200,LC1,5.624444,4.829521,0.768740
4,panel4,-92.718000,17.880000,30.064333,4.0,750,200,LC1,5.624444,4.836411,0.772768
5,panel5,-92.224333,17.880000,52.546333,4.0,750,200,LC1,5.624444,4.841700,0.661930
6,panel6,-92.224333,17.880000,52.546333,4.0,750,200,LC1,5.624444,4.841700,0.661930
7,panel7,-92.718000,17.880000,30.064333,4.0,750,200,LC1,5.624444,4.836411,0.772768
8,panel8,-93.370667,17.880000,29.611667,4.0,750,200,LC1,5.624444,4.829521,0.768740
9,panel9,-93.234667,17.880000,29.610333,4.0,750,200,LC1,5.624444,4.830948,0.769984
10,panel1,-73.089667,-17.880000,29.705333,4.0,750,200,LC2,5.624444,3.040364,0.627985
11,panel10,-73.089667,-17.880000,29.705333,4.0,750,200,LC2,5.624444,3.040364,0.627985
12,panel2,-92.500333,-17.880000,29.610333,4.0,750,200,LC2,5.624444,3.227662,0.532710
13,panel3,-93.896333,-17.880000,29.611667,4.0,750,200,LC2,5.624444,3.238832,0.526944
14,panel4,-93.708000,-17.880000,30.064000,4.0,750,200,LC2,5.624444,3.237340,0.526808
15,panel5,-93.257667,-17.880333,52.546333,4.0,750,200,LC2,5.624444,3.233740,0.472614
16,panel6,-93.257667,-17.880333,52.546333,4.0,750,200,LC2,5.624444,3.233740,0.472614
17,panel7,-93.708000,-17.880000,30.064000,4.0,750,200,LC2,5.624444,3.237340,0.526808
18,panel8,-93.896333,-17.880000,29.611667,4.0,750,200,LC2,5.624444,3.238832,0.526944
19,panel9,-92.500333,-17.880000,29.610333,4.0,750,200,LC2,5.624444,3.227662,0.532710
20,panel1,-23.740333,5.940000,118.423000,4.0,750,200,LC3,5.624444,5.051190,0.504026
21,panel10,-23.740333,5.940000,118.423000,4.0,750,200,LC3,5.624444,5.051190,0.504026
22,panel2,-30.974000,5.940000,118.044333,4.0,750,200,LC3,5.624444,4.830945,0.481000
23,panel3,-31.019000,5.940000,118.049000,4.0,750,200,LC3,5.624444,4.829525,0.480809
24,panel4,-30.802333,5.940000,119.853667,4.0,750,200,LC3,5.624444,4.836410,0.469850
25,panel5,-30.638333,5.940000,209.481000,4.0,750,200,LC3,5.624444,4.841699,0.175737
26,panel6,-30.638333,5.940000,209.481000,4.0,750,200,LC3,5.624444,4.841699,0.175737
27,panel7,-30.802333,5.940000,119.853667,4.0,750,200,LC3,5.624444,4.836410,0.469850
28,panel8,-31.019000,5.940000,118.049000,4.0,750,200,LC3,5.624444,4.829525,0.480809
29,panel9,-30.974000,5.940000,118.044333,4.0,750,200,LC3,5.624444,4.830945,0.481000

## Now we have to apply our reverse engineering and compute the thicknesses

In [58]:
updateParametersDf["thickness"] = updateParametersDf.apply(panelBuckReverse,EModulus=EModulus, nu=nu, axis=1)
updateParametersDf

,Component Name,sigmaXX,sigmaYY,sigmaXY,thickness,length,width,Load Case,k_shear,k_biaxial,Reserve Factor
0,panel1,-71.460333,17.880000,29.705667,2.897285,750,200,LC1,5.624444,5.051195,1.019406
1,panel10,-71.460333,17.880000,29.705667,2.897285,750,200,LC1,5.624444,5.051195,1.019406
2,panel2,-93.234667,17.880000,29.610333,3.383985,750,200,LC1,5.624444,4.830948,0.769984
3,panel3,-93.370667,17.880000,29.611667,3.386952,750,200,LC1,5.624444,4.829521,0.768740
4,panel4,-92.718000,17.880000,30.064333,3.372689,750,200,LC1,5.624444,4.836411,0.772768
5,panel5,-92.224333,17.880000,52.546333,3.361860,750,200,LC1,5.624444,4.841700,0.661930
6,panel6,-92.224333,17.880000,52.546333,3.361860,750,200,LC1,5.624444,4.841700,0.661930
7,panel7,-92.718000,17.880000,30.064333,3.372689,750,200,LC1,5.624444,4.836411,0.772768
8,panel8,-93.370667,17.880000,29.611667,3.386952,750,200,LC1,5.624444,4.829521,0.768740
9,panel9,-93.234667,17.880000,29.610333,3.383985,750,200,LC1,5.624444,4.830948,0.769984
10,panel1,-73.089667,-17.880000,29.705333,3.776775,750,200,LC2,5.624444,3.040364,0.627985
11,panel10,-73.089667,-17.880000,29.705333,3.776775,750,200,LC2,5.624444,3.040364,0.627985
12,panel2,-92.500333,-17.880000,29.610333,4.123666,750,200,LC2,5.624444,3.227662,0.532710
13,panel3,-93.896333,-17.880000,29.611667,4.147495,750,200,LC2,5.624444,3.238832,0.526944
14,panel4,-93.708000,-17.880000,30.064000,4.144289,750,200,LC2,5.624444,3.237340,0.526808
15,panel5,-93.257667,-17.880333,52.546333,4.136619,750,200,LC2,5.624444,3.233740,0.472614
16,panel6,-93.257667,-17.880333,52.546333,4.136619,750,200,LC2,5.624444,3.233740,0.472614
17,panel7,-93.708000,-17.880000,30.064000,4.144289,750,200,LC2,5.624444,3.237340,0.526808
18,panel8,-93.896333,-17.880000,29.611667,4.147495,750,200,LC2,5.624444,3.238832,0.526944
19,panel9,-92.500333,-17.880000,29.610333,4.123666,750,200,LC2,5.624444,3.227662,0.532710
20,panel1,-23.740333,5.940000,118.423000,3.534549,750,200,LC3,5.624444,5.051190,0.504026
21,panel10,-23.740333,5.940000,118.423000,3.534549,750,200,LC3,5.624444,5.051190,0.504026
22,panel2,-30.974000,5.940000,118.044333,3.528894,750,200,LC3,5.624444,4.830945,0.481000
23,panel3,-31.019000,5.940000,118.049000,3.528964,750,200,LC3,5.624444,4.829525,0.480809
24,panel4,-30.802333,5.940000,119.853667,3.555836,750,200,LC3,5.624444,4.836410,0.469850
25,panel5,-30.638333,5.940000,209.481000,4.700979,750,200,LC3,5.624444,4.841699,0.175737
26,panel6,-30.638333,5.940000,209.481000,4.700979,750,200,LC3,5.624444,4.841699,0.175737
27,panel7,-30.802333,5.940000,119.853667,3.555836,750,200,LC3,5.624444,4.836410,0.469850
28,panel8,-31.019000,5.940000,118.049000,3.528964,750,200,LC3,5.624444,4.829525,0.480809
29,panel9,-30.974000,5.940000,118.044333,3.528894,750,200,LC3,5.624444,4.830945,0.481000

In [59]:
#Drop irrelevant columns
updateParametersDf = updateParametersDf.drop(['length', 'width'], axis=1)
updateParametersDf.head(3)

,Component Name,sigmaXX,sigmaYY,sigmaXY,thickness,Load Case,k_shear,k_biaxial,Reserve Factor
0,panel1,-71.460333,17.88,29.705667,2.897285,LC1,5.624444,5.051195,1.019406
1,panel10,-71.460333,17.88,29.705667,2.897285,LC1,5.624444,5.051195,1.019406
2,panel2,-93.234667,17.88,29.610333,3.383985,LC1,5.624444,4.830948,0.769984

In [60]:
updateParametersDf = updateParametersDf.groupby('Component Name').agg({
    'thickness':'min'
})
updateParametersDf

                thickness
Component Name
panel1           2.897285
panel10          2.897285
panel2           3.383985
panel3           3.386952
panel4           3.372689
panel5           3.361860
panel6           3.361860
panel7           3.372689
panel8           3.386952
panel9           3.383985

# Create original output

In [61]:
#Drop irrelevant columns
panelLC1 = panelLC1.drop(['length','thickness', 'width', 'Load Case'], axis=1)
panelLC2 = panelLC2.drop(['length','thickness', 'width',  'Load Case'], axis=1)
panelLC3 = panelLC3.drop(['length','thickness', 'width',  'Load Case'], axis=1)
panelLC1.head(3)

,sigmaXX,sigmaYY,sigmaXY,k_shear,k_biaxial,Reserve Factor
Component Name,,,,,,
panel1,-71.460333,17.88,29.705667,5.624444,5.051195,1.019406
panel10,-71.460333,17.88,29.705667,5.624444,5.051195,1.019406
panel2,-93.234667,17.88,29.610333,5.624444,4.830948,0.769984

In [62]:
# Rename columns to be unambigous
panelLC1 = panelLC1.rename(columns={"Reserve Factor": "LC 1 RF", 'sigmaXX':'sigmaXXLC1', 'sigmaYY':'sigmaYYLC1', 'sigmaXY':'sigmaXYLC1', 'k_shear':'k_shearLC1', 'k_biaxial':'k_biaxialLC1'})
panelLC2 = panelLC2.rename(columns={"Reserve Factor": "LC 2 RF", 'sigmaXX':'sigmaXXLC2', 'sigmaYY':'sigmaYYLC2', 'sigmaXY':'sigmaXYLC2', 'k_shear':'k_shearLC2', 'k_biaxial':'k_biaxialLC2'})
panelLC3 = panelLC3.rename(columns={"Reserve Factor": "LC 3 RF", 'sigmaXX':'sigmaXXLC3', 'sigmaYY':'sigmaYYLC3', 'sigmaXY':'sigmaXYLC3', 'k_shear':'k_shearLC3', 'k_biaxial':'k_biaxialLC3'})
panelLC1

,sigmaXXLC1,sigmaYYLC1,sigmaXYLC1,k_shearLC1,k_biaxialLC1,LC 1 RF
Component Name,,,,,,
panel1,-71.460333,17.88,29.705667,5.624444,5.051195,1.019406
panel10,-71.460333,17.88,29.705667,5.624444,5.051195,1.019406
panel2,-93.234667,17.88,29.610333,5.624444,4.830948,0.769984
panel3,-93.370667,17.88,29.611667,5.624444,4.829521,0.768740
panel4,-92.718000,17.88,30.064333,5.624444,4.836411,0.772768
panel5,-92.224333,17.88,52.546333,5.624444,4.841700,0.661930
panel6,-92.224333,17.88,52.546333,5.624444,4.841700,0.661930
panel7,-92.718000,17.88,30.064333,5.624444,4.836411,0.772768
panel8,-93.370667,17.88,29.611667,5.624444,4.829521,0.768740
panel9,-93.234667,17.88,29.610333,5.624444,4.830948,0.769984

In [63]:
outputDf = pd.concat([panelLC1, panelLC2, panelLC3], axis=1)
outputDf

,sigmaXXLC1,sigmaYYLC1,sigmaXYLC1,k_shearLC1,k_biaxialLC1,LC 1 RF,sigmaXXLC2,sigmaYYLC2,sigmaXYLC2,k_shearLC2,k_biaxialLC2,LC 2 RF,sigmaXXLC3,sigmaYYLC3,sigmaXYLC3,k_shearLC3,k_biaxialLC3,LC 3 RF
Component Name,,,,,,,,,,,,,,,,,,
panel1,-71.460333,17.88,29.705667,5.624444,5.051195,1.019406,-73.089667,-17.880000,29.705333,5.624444,3.040364,0.627985,-23.740333,5.94,118.423000,5.624444,5.051190,0.504026
panel10,-71.460333,17.88,29.705667,5.624444,5.051195,1.019406,-73.089667,-17.880000,29.705333,5.624444,3.040364,0.627985,-23.740333,5.94,118.423000,5.624444,5.051190,0.504026
panel2,-93.234667,17.88,29.610333,5.624444,4.830948,0.769984,-92.500333,-17.880000,29.610333,5.624444,3.227662,0.532710,-30.974000,5.94,118.044333,5.624444,4.830945,0.481000
panel3,-93.370667,17.88,29.611667,5.624444,4.829521,0.768740,-93.896333,-17.880000,29.611667,5.624444,3.238832,0.526944,-31.019000,5.94,118.049000,5.624444,4.829525,0.480809
panel4,-92.718000,17.88,30.064333,5.624444,4.836411,0.772768,-93.708000,-17.880000,30.064000,5.624444,3.237340,0.526808,-30.802333,5.94,119.853667,5.624444,4.836410,0.469850
panel5,-92.224333,17.88,52.546333,5.624444,4.841700,0.661930,-93.257667,-17.880333,52.546333,5.624444,3.233740,0.472614,-30.638333,5.94,209.481000,5.624444,4.841699,0.175737
panel6,-92.224333,17.88,52.546333,5.624444,4.841700,0.661930,-93.257667,-17.880333,52.546333,5.624444,3.233740,0.472614,-30.638333,5.94,209.481000,5.624444,4.841699,0.175737
panel7,-92.718000,17.88,30.064333,5.624444,4.836411,0.772768,-93.708000,-17.880000,30.064000,5.624444,3.237340,0.526808,-30.802333,5.94,119.853667,5.624444,4.836410,0.469850
panel8,-93.370667,17.88,29.611667,5.624444,4.829521,0.768740,-93.896333,-17.880000,29.611667,5.624444,3.238832,0.526944,-31.019000,5.94,118.049000,5.624444,4.829525,0.480809
panel9,-93.234667,17.88,29.610333,5.624444,4.830948,0.769984,-92.500333,-17.880000,29.610333,5.624444,3.227662,0.532710,-30.974000,5.94,118.044333,5.624444,4.830945,0.481000

# ROUND & Output the files

In [64]:
outputDf = outputDf.round(rounding_digits)
outputDf.to_csv(f'../data/{name}/output/processed_e.csv')
outputDf.head(10)
updateParametersDf = updateParametersDf.round(rounding_digits)
updateParametersDf.to_csv(f'../data/{name}/output/update_e.csv')
updateParametersDf.head(10)

                thickness
Component Name
panel1               2.90
panel10              2.90
panel2               3.38
panel3               3.39
panel4               3.37
panel5               3.36
panel6               3.36
panel7               3.37
panel8               3.39
panel9               3.38