In [2]:
import pandas as pd
name = 'yannis'

In [ ]:
generationDf = pd.read_csv(f'../data/{name}/output/generations.csv')
scoreDf = pd.read_csv(f'../data/{name}/output/children.csv')
min_row = scoreDf.loc[scoreDf['score'].idxmin()]
min_row = min_row.to_frame().T
generationDf=pd.concat([generationDf, min_row], axis=0)
generationDf = generationDf.sort_values(by='score', ascending=True).reset_index(drop=True)

,panel thickness,score,stringer Parameters
0,"[4.3, 4.3, 3.76, 3.82, 3.99]",5269.570011,"[[25.23, 2.14, 19.88, 14.74], [24.72, 1.91, 20..."
1,"[4.0, 4.0, 4.0, 4.0, 4.0]",5315.722635,"[[25.0, 2.0, 20.0, 15.0], [25.0, 2.0, 20.0, 15..."